In [38]:
import pandas as pd 
import numpy as np

In [39]:

# display settings
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [40]:
#Load the Files

train = pd.read_csv(r"C:\Data science work\Projects\Sales Forcasting\data\train.csv")
features = pd.read_csv(r"C:\Data science work\Projects\Sales Forcasting\data\features.csv")
stores = pd.read_csv(r"C:\Data science work\Projects\Sales Forcasting\data\stores.csv")

In [41]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [42]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.57,NaN,NaN,NaN,NaN,NaN,211.10,8.11,False
1,1,2010-02-12,38.51,2.55,NaN,NaN,NaN,NaN,NaN,211.24,8.11,True
2,1,2010-02-19,39.93,2.51,NaN,NaN,NaN,NaN,NaN,211.29,8.11,False
3,1,2010-02-26,46.63,2.56,NaN,NaN,NaN,NaN,NaN,211.32,8.11,False
4,1,2010-03-05,46.50,2.62,NaN,NaN,NaN,NaN,NaN,211.35,8.11,False

In [43]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [44]:
print("shape:\n",train.shape)
print("\nData Type:\n",train.dtypes)
print("\nMissing Value:\n",train.isnull().sum())
print("\n:Duplicate Values:\n",train.duplicated().sum())

shape:
 (421570, 5)

Data Type:
 Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
dtype: object

Missing Value:
 Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

:Duplicate Values:
 0

In [45]:
print("shape:\n",features.shape)
print("\nData Type:\n",features.dtypes)
print("\nMissing Value:\n",features.isnull().sum())
print("\n:Duplicate Values:\n",features.duplicated().sum())

shape:
 (8190, 12)

Data Type:
 Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

Missing Value:
 Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

:Duplicate Values:
 0

In [46]:
print("shape:\n",stores.shape)
print("\nData Type:\n",stores.dtypes)
print("\nMissing Value:\n",stores.isnull().sum())
print("\n:Duplicate Values:\n",train.duplicated().sum())

shape:
 (45, 3)

Data Type:
 Store     int64
Type     object
Size      int64
dtype: object

Missing Value:
 Store    0
Type     0
Size     0
dtype: int64

:Duplicate Values:
 0

cleaning the data

In [47]:
# Convert Date Columns from features and train table 

train["Date"] = pd.to_datetime(train["Date"])

features["Date"] = pd.to_datetime(features["Date"])

In [48]:
# Merge Store table with train on store col

data = pd.merge(
    train,
    stores , 
    on = "Store" ,
    how= 'left'
    )

In [49]:
# Merge features table with data(train + stores) table on store col

data = pd.merge(
    data,
    features,
    on = ["Store","Date" ],
    how = "left"
    )

In [50]:
data.isnull().sum().sort_values(ascending=False)

MarkDown2       310322
MarkDown4       286603
MarkDown3       284479
MarkDown1       270889
MarkDown5       270138
Store                0
Dept                 0
Weekly_Sales         0
Date                 0
Fuel_Price           0
Temperature          0
Size                 0
Type                 0
IsHoliday_x          0
CPI                  0
Unemployment         0
IsHoliday_y          0
dtype: int64

In [51]:
# Handle Missing Value

Markdown_cols = ["MarkDown1","MarkDown2","MarkDown3","MarkDown4","MarkDown5"] # making list of col with null values to fill together

data[Markdown_cols] = data[Markdown_cols].fillna(0)

In [52]:
data.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.57,0.00,0.00,0.00,0.00,0.00,211.10,8.11,False
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.55,0.00,0.00,0.00,0.00,0.00,211.24,8.11,True
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.51,0.00,0.00,0.00,0.00,0.00,211.29,8.11,False
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.56,0.00,0.00,0.00,0.00,0.00,211.32,8.11,False
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.62,0.00,0.00,0.00,0.00,0.00,211.35,8.11,False

In [53]:
data.duplicated().sum()

np.int64(0)

In [54]:
# Final Data Check
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     421570 non-null  float64
 10  MarkDown2     421570 non-null  float64
 11  MarkDown3     421570 non-null  float64
 12  MarkDown4     421570 non-null  float64
 13  MarkDown5     421570 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
 16  IsHoliday_y   421570 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 49.0+ MB

,Store,Dept,Date,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,421570.00,421570.00,421570,421570.00,421570.00,421570.00,421570.00,421570.00,421570.00,421570.00,421570.00,421570.00,421570.00,421570.00
mean,22.20,44.26,2011-06-18 08:30:31.963375104,15981.26,136727.92,60.09,3.36,2590.07,879.97,468.09,1083.13,1662.77,171.20,7.96
min,1.00,1.00,2010-02-05 00:00:00,-4988.94,34875.00,-2.06,2.47,0.00,-265.76,-29.10,0.00,0.00,126.06,3.88
25%,11.00,18.00,2010-10-08 00:00:00,2079.65,93638.00,46.68,2.93,0.00,0.00,0.00,0.00,0.00,132.02,6.89
50%,22.00,37.00,2011-06-17 00:00:00,7612.03,140167.00,62.09,3.45,0.00,0.00,0.00,0.00,0.00,182.32,7.87
75%,33.00,74.00,2012-02-24 00:00:00,20205.85,202505.00,74.28,3.74,2809.05,2.20,4.54,425.29,2168.04,212.42,8.57
max,45.00,99.00,2012-10-26 00:00:00,693099.36,219622.00,100.14,4.47,88646.76,104519.54,141630.61,67474.85,108519.28,227.23,14.31
std,12.79,30.49,NaN,22711.18,60980.58,18.45,0.46,6052.39,5084.54,5528.87,3894.53,4207.63,39.16,1.86

In [ ]:
# got duplicate col name IsHoliday_x nad IsHoliday_y

data.rename(columns={"IsHoliday_x" : "IsHoliday"}, inplace= True)

# reanme one col to IsHoliday_x to IsHoliday and drop the other ⬇️

In [62]:
data.drop(["IsHoliday_y"], axis = 1, inplace= True)

In [63]:
data.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.57,0.00,0.00,0.00,0.00,0.00,211.10,8.11
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.55,0.00,0.00,0.00,0.00,0.00,211.24,8.11
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.51,0.00,0.00,0.00,0.00,0.00,211.29,8.11
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.56,0.00,0.00,0.00,0.00,0.00,211.32,8.11
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.62,0.00,0.00,0.00,0.00,0.00,211.35,8.11

In [68]:
# 💾 save the model

data.to_csv(r"C:\Data science work\Projects\Sales Forcasting\data\cleaned_data.csv", index=False )